{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Contacts</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Advanced Tables
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Telephone</th>
                                <th>Suprimer</th>
                                <th>Modifier</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for contact in contactList %}
                                    <tr>
                                        <td>
                                            {{ contact.nom }}
                                        </td>
                                        <td>
                                            {{ contact.prenom }}
                                        </td>
                                        <td>
                                            {{ contact.email }}
                                        </td>
                                        <td>
                                            {{ contact.adresse }}
                                        </td>
                                        <td>
                                            {{ contact.telephone }}
                                        </td>
                                        <td>
                                            <form action="{{ path_for('delete') }}" method="post">
                                                <input type="hidden" name="idcontact" value="{{ contact.idcontact }}">
                                                <input type="hidden" name="nom" value="{{ contact.nom }}">
                                                <input type="hidden" name="prenom" value="{{ contact.prenom }}">
                                                <input type="hidden" name="email" value="{{ contact.email }}">
                                                <input type="hidden" name="adresse" value="{{ contact.adresse }}">
                                                <input type="hidden" name="telephone" value="{{ contact.telephone }}">
                                                <input type="submit" value="suprimer">
                                            </form>
                                        </td>
                                        <td>
                                            <form action="{{ path_for('modifier') }}" method="post">
                                                <input type="hidden" name="idcontact" value="{{ contact.idcontact }}">
                                                <input type="hidden" name="nom" value="{{ contact.nom }}">
                                                <input type="hidden" name="prenom" value="{{ contact.prenom }}">
                                                <input type="hidden" name="email" value="{{ contact.email }}">
                                                <input type="hidden" name="adresse" value="{{ contact.adresse }}">
                                                <input type="hidden" name="telephone" value="{{ contact.telephone }}">
                                                <input type="submit" value="modifier">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
                <!--   Kitchen Sink -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>{{ name }}</h1>
                </div>
                <div class="panel-body">
                    <div id="form" class="table-responsive">
                        <form action="{{ path_for('updateNew') }}" method="post">
                            <div class="form-group">
                                <label for="nom">nom</label>
                                <input type="text" name="nom" id="nom" value="{{ contact.nom }}">
                                <br>
                                <label for="prenom">prenom</label>
                                <input type="text" name="prenom" id="prenom" value="{{ contact.prenom }}">
                                <br>
                                <label for="email">email</label>
                                <input type="text" name="email" id="email" value="{{ contact.email }}">
                                <br>
                                <label for="telephone">telephone</label>
                                <input type="text" name="telephone" id="telephone" value="{{ contact.telephone }}">
                                <br>
                                <label for="adresse">adresse</label>
                                <input type="text" name="adresse" id="adresse" value="{{ contact.adresse }}">
                                <input type="hidden" name="idcontact"  value="{{ contact.idcontact }}">
                                <br>
                                <input type="submit" name="submit" value="enregistrer">
                                <input type="submit" name="submit" value="nouveau">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}