{% extends "layout.twig" %}
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <!--   Kitchen Sink -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Sign in</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form action="{{ path_for('login') }}" method="post">
                            <div class="form-group">
                                <label for="login">Login: </label>
                                <input class="form-control" type="text" name="pseudo" id="login">
                                <label for="passwd">Password: </label>
                                <input class="form-control" type="text" name="motdepasse" id="passwd">
                                <input type="submit" name="submit" value="Connecter">
                                <input type="submit" name="submit" value="Nouveau">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}