<?php
/**
 * Created by PhpStorm.
 * User: drznathou
 * Date: 07/03/2017
 * Time: 13:10
 */ ?>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/style/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/style/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/style/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="/style/css/style.css" rel="stylesheet" />
    <link href="/style/css/main-style.css" rel="stylesheet" />

    <!-- Page-Level CSS -->
    <link href="../../public/style/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

    <script type="text/javascript" src="style/plugins/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="style/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="style/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script type="text/javascript" src="style/plugins/pace/pace.js"></script>
    <script type="text/javascript" src="style/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script type="text/javascript" src="style/plugins/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="style/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <title>C↓O→N↑T↨A←C↓T</title>
</head>
<body>
<div id="wrapper">
    <!-- navbar top -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <!-- navbar-header -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img src="/style/img/logo.png" alt="" />
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <!-- dropdown-user -->
            <li class="dropdown">
                <div class="user-info">

                    <div class="user-text-online">
                        <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-3x"></i>
                </a>
                <!-- dropdown user-->
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                    </li>
                    <li class="divider"></li>
                    <a href="{{ path_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </li>
                </ul>
            </li>

            <!-- end dropdown-user -->


        </ul>
    </nav>
</div>

<!-- end navbar-header -->
<!-- navbar-top-links -->

{% block content %}
{% endblock %}

</body>
</html>
